body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: silver;
  color: midnightblue;
  margin: auto;
  width: 85%;
  grid-template-areas: "about about topics" "hobbies hobbies hobbies" "pics pics pics" "random random random" "footer footer footer";
  transition: all .5s ease-in;
}

img {
  margin: 20px;
  border-style: double;
  border-width: 6px;
  border-color: midnightblue;
  padding: 3px;
}

h2 {
  text-decoration: underline;
}

.heading {
  text-decoration: underline;
  padding: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 35vw;
  width: 21.5rem;
  padding: 3px 1rem;
  border: 2px double midnightblue;
  border-radius: 5px;
  background-color: rgb(223, 213, 213);
  font-size: 1.2rem;
}
.indent {
  text-indent: 40px;
}

.grid-item {
  opacity: 0;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(223, 213, 213),rgb(222, 233, 250));
  /* background-color: rgb(204, 219, 243); */
  border-radius: 1vmax;
  padding: .5rem 1rem 3rem;
  transition: all .5s ease-in;
}

.pic {
  max-height: 30rem;
  max-width: 30rem;
  animation: fade-in 4s forwards;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project {
  padding: 3.5rem;
  display: grid;
}

.project img{
  max-width: 20vw;
  height: 14vmax;
  width: 14vmax;
}

/* dark mode */
.light-dark-button{
  align-self: end;
}
.dark-mode {
  background-color: #0f1325;
  color: azure;
  transition: all .5s ease-in;
}

.dark-mode-div {
  background-image: linear-gradient(rgb(59, 59, 87),rgb(24, 39, 61));
  color: azure;
  object-fit: fill;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 2.3rem;
  height: 1.36rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: gray;
  transition: all .5s ease-in;
  border-radius: 1.5rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: .9rem;
  width: .9rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 2px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(.9rem);
}

/* image slider */
 /* *, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.slider-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: calc(20vh - 4.25rem);
  gap: 2rem;
}

#slider-images, #slider-images2 {
  position: relative;
  width: 500px;
  height: 400px;
}

#slider-images img, #slider-images2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

#slider-images img.active, #slider-images2 img.active {
  opacity: 1;
}

.button {
  position: relative;
  top: 100%;
  /* transform: translateY(50%); */
  transform: translateX(230%);
  top:85%;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #717171;
  color: #f1f1f1;
  font-size: 1.25rem;
  font-stretch: expanded;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.button:hover {
  background-color: steelblue;
}

.button#prev, button#prev2 {
  left: -40%;
  padding: 1rem 2rem 1rem 1.5rem;
}

.button#next, button#next2 {
  right: -40%;
  padding: 1rem 1.5rem 1rem 2rem;
}


/* div intersection slider */
.slide-in {
  opacity: 1 !important;
  transform: translateX(0); 
}


/* draggable elements */
.drag-drop-shapes {
  display: flex;
}

#dropzone-square {
  height: 7rem;
  width: 7rem;
  background-color: #7732a8;
  margin: 2rem;
}

#dropzone-triangle {
  margin: 2rem;
  height: 0;
  width: 0;
  border-left: 4rem solid transparent;
  border-right: 4rem solid transparent; 
  border-bottom: 7rem solid #7732a8;
}

#dropzone-circle {
  height: 7rem;
  width: 7rem;
  margin: 2rem;
  border-radius: 50%;
  background-color: #7732a8;
}

#drag-square {
  background-color: #2596be;
  height: 4rem;
  width: 4rem;
  margin: 2rem;
}

#drag-triangle {
  height: 0;
  width: 0;
  margin-top: 4rem;
  margin: 2rem;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 4rem solid #2596be;
}

#drag-circle {
  background-color: #2596be;
  height: 4rem;
  width: 4rem;
  margin: 2rem;
  border-radius: 50%;
}

/* form validation */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#form-submitted-msg {
  margin-bottom: 3rem;
  border-radius: 3px;
  background-color: rgb(67, 161, 67);
  padding: 0.5rem;
  width: 40%;
  text-align: center;
  color: #fff;
  display: none;
}

#subscribeForm {
  width: 60%;
}

.input-group {
  margin-bottom: 1.5rem;
}

.error-msg {
  display: none;
}

/* Leaflet map */
.leaflet-map {
  display: flex;
}

#map {
  margin: 1rem;
}

.leaflet-map button {
  background-color: rgb(25, 115, 143);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

/* gets rid of map grid and marker borders becauese they use 'img' tag which i used for my own images */
.leaflet-pane img {
  border: 0px; 
}

@media (max-width: 760px) {
  .grid-pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    align-items: flex-start;
  }
  .pic {
    max-width: 10vw;
  }

  .drag-drop-shapes {
    display: grid;
  }

}
@media (max-width: 1445px) {
  .grid-pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    align-items: flex-start;
  }
  .pic {
    /* min-height: 60vw; */
    /* min-width: 60vw; */
    max-width: 20vmax;
  } 
   .slider-container {
    display: grid;
    grid-gap: 6vh;
  }

  #slider-images, #slider-images2 {
    max-width: 35vmax;
    max-height: 35vmax;
  }
  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .project img{
    max-width: 70%;
    margin: auto;
  }
  .button{
    position: absolute;
    top: 70%;
    transform: translateX(20%);
  }
  .drag-drop-shapes {
    /* flex-direction: column; */
    grid-template-columns: 1fr 1fr;
  }
}
.fade-in {
  animation: fade-in 3s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
